<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRONS</title>
    <link rel="stylesheet" href="/static/css/homestyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/images/tronsLogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}" href="#">Category</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}" href="#">Product</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>


<!--<h1 th:text="${categories}"/>-->
<div class="container">
    <a th:href="@{/products/add}" style="..." class="btn btn-primary">
        Add Product</a>
    </a>
    <form action="/products" method="POST" enctype="multipart/form-data" >
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Preview</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iStat : ${products}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${product.name}">Mark</td>
            <td th:text="${product.category.name}">Mark</td>
<!--            <td><img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/files/' + 'product.image'}}" style="margin-top: 20px" alt=" "></td>-->
            <th scope="row"><img alt="" th:src="@{'/image?name=' + ${product.image}}" height="100px" width="100px"></th>
<!--            <td><img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/files/' + 'Seattle.png'}}" style="margin-top: 20px" alt=" "></td>-->
<!--            <td><img src="C:\Users\rttgg\IdeaProjects\onlineShoppingCartCaseStudy\files\aboutus.png" id="imgPreview" height="100px" width="100px"  style="margin-top: 20px" alt=" "></td>-->
<!--            <td> <img th:src="@{${product.image}}" id="imgPreview" height="100px" width="100px"  style="margin-top: 20px" alt=" "></td>-->

            <td><a href="" th:href="@{/products/update/{id}(id=${product.id})}" class="btn btn-warning">Update</a></td>
            <td><a href="" th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
<!--<script src="/js/fileRead.js"></script>-->
</body>
</html>